*{
    color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header{
    background-color:crimson;
    padding: 16px 8;
}

header li{
    display: inline;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.container{
    width: 1264 px;
    margin: 0, auto, 0, auto;
}

.creation-date{
    color: #121212;
}

.articles{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.articles article img{
    height: 180px;
}

.articles article{
    width: 30%;
}

section{
    padding: 16px 8;
}

section h2, 
.articles article{
    margin-bottom: 16px;
}

.articles article h3{
    margin-top: 16px;
    margin-bottom: 16px;
}