*{
    color: gray;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    color: #121212;
}

h2{
    color: brown;
}

#sports{
    background-color: aliceblue;
}
#economy{
    background-color: beige;
}

.creation-date{
    color: #121212;
}

.container{
    width: 1366px;
    margin: 0 auto 0 auto;
}