
        label{
            color:blueviolet;
        }

        body{
            background-color: blue;
        }

        .botao{
            background-color: aquamarine;
        }

        button{
            background-color: coral;
        }
    